<li class="nav-header">KURSLAR</li>
<li class="nav-item">
    <a asp-area="Admin" asp-controller="Course" asp-action="Index" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Kurs Listesi
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="Admin" asp-controller="Course" asp-action="Create" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Kurs Ekle
        </p>
    </a>
</li>

<li class="nav-header">ÜYELİK İŞLEMLERİ</li>
<li class="nav-item">
    <a asp-area="admin" asp-controller="User" asp-action="Logout" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Çıkış Yap
        </p>
    </a>
</li>