@{
    ViewBag.Title = "Hakkımızda";
}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="display-4 text-primary">Hakkımızda</h1>
            <p class="lead text-secondary">Biz kimiz ve ne yapıyoruz?</p>
            <hr class="my-4">
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-4 mb-4">
            <div class="p-4 border rounded shadow-sm bg-light border-primary">
                <h2 class="font-weight-bold mb-3 text-primary">Misyonumuz</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non urna vitae ligula consectetur commodo ut a est. Vivamus vel malesuada magna. Proin ac diam nec libero ultricies venenatis. Donec varius neque at turpis scelerisque, nec ultricies libero cursus.</p>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="p-4 border rounded shadow-sm bg-light border-success">
                <h2 class="font-weight-bold mb-3 text-success">Vizyonumuz</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non urna vitae ligula consectetur commodo ut a est. Vivamus vel malesuada magna. Sed sit amet tortor at dui egestas pretium. Nam pharetra sapien at lacus sagittis, vel aliquet ipsum feugiat.</p>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="p-4 border rounded shadow-sm bg-light border-info">
                <h2 class="font-weight-bold mb-3 text-info">Tarihçemiz</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non urna vitae ligula consectetur commodo ut a est. Vivamus vel malesuada magna. Mauris sed dui ac neque cursus facilisis. Aenean aliquet est et orci fermentum, non suscipit nisi efficitur.</p>
            </div>
        </div>
    </div>
</div>
