<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/ui/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/ui/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/ui/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/ui/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/ui/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/ui/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/ui/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/ui/css/style.css" type="text/css">
</head>

<body>
   @await Html.PartialAsync("_PreLoaderPartial")

   @await Html.PartialAsync("_MobileMenuPartial")

   @await Html.PartialAsync("_HeaderPartial")


    @RenderBody()

    @await Html.PartialAsync("_FooterPartial")

    @await Html.PartialAsync("_SearchPartial")





<!-- Js Plugins -->
<script src="~/ui/js/jquery-3.3.1.min.js"></script>
<script src="~/ui/js/bootstrap.min.js"></script>
<script src="~/ui/js/jquery.magnific-popup.min.js"></script>
<script src="~/ui/js/jquery-ui.min.js"></script>
<script src="~/ui/js/mixitup.min.js"></script>
<script src="~/ui/js/jquery.countdown.min.js"></script>
<script src="~/ui/js/jquery.slicknav.js"></script>
<script src="~/ui/js/owl.carousel.min.js"></script>
<script src="~/ui/js/jquery.nicescroll.min.js"></script>
<script src="~/ui/js/main.js"></script>
</body>

</html>